$bg-primary: rgba(211, 217, 223, 0.6);
$color-text: hsla(180, 1%, 23%, 1);
$color-text-secondary: hsla(206, 4%, 67%, 1);
$color-efasis-primary: hsla(206, 97%, 54%, 1);
$color-efasis-secondary: hsla(206, 64%, 31%, 1);
$white: #fff;