@font-face {
  font-family: 'Heebo';
  src: url('../assets/fonts/heebo-v20-latin-regular.woff2') format('wooff2'),
    url('../assets/fonts/heebo-v20-latin-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url('../assets/fonts/heebo-v20-latin-700.woff2') format('wooff2'),
    url('../assets/fonts/heebo-v20-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/ubuntu-v20-latin-regular.woff2') format('wooff2'),
    url('../assets/fonts/ubuntu-v20-latin-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

$gray: rgb(126, 132, 132);
$french-blue: #0074bd;
$midnight-blue: #191363;
$cadmium-orange: #f99034;
$cadmium-orange-hover: #d3792a;
$black: #000000;
$cultured: #eedab9e5;
$mint-cream: #f7fff7;
$font-Ubuntu: 'Ubuntu', sans-serif;
$font-Heebo: 'Heebo', sans-serif;