@use '_vars' as c;

.hero {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    align-items: center;
    font-size: 3.6rem;
    margin-bottom: 3rem;
    color: c.$midnight-blue;

    img {
      max-height: 5rem;
      margin-right: 1rem;
    }
  }

  .sub-title {
    color: c.$gray;
    font-size: 2.2rem;
  }

  p {
    color: c.$gray;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 3rem;
  }

  :last-child {
    margin-bottom: 0;
  }

}
.image-container {
  width: 100%;
  padding: 4rem 2rem;
  background: rgba(c.$gray, .3);


  picture {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      border-radius: .5rem;
    }
  }
}

@media(min-width: 700px) {
  .signup, .login {
    max-width: 25rem;
  }

  .image-container {
    padding: 4rem;
    display: flex;
    justify-content: center;

    picture {
      max-width: min(80%, 60rem);
    }
  }
}
@media(min-width: 1000px) {
  .Home{
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    align-items: center;
    height: calc(100vh - 20rem);

    .login {
      position: relative;
      overflow: hidden;

    }

    .image-container {
      height: calc(100vh - 20rem);
      display: flex;
      align-items: center;
      background: linear-gradient(100deg, rgba(c.$gray, .3) 0%, rgba(c.$mint-cream, 1) 100%);

      picture {
        max-height: min(80%, 50rem);
        overflow: hidden;
        border-radius: 1rem;

        img {
          width: unset;
          object-fit: cover;
        }
      }
    }

    .signup, .login {
      max-width: 25rem;
    }
  }
}