@use '_vars' as c;

.CreateRoom button:hover {
  box-shadow: 1px 1px 3px c.$gray;
  transition: .3s all ease;
}
.options button {
  background: c.$midnight-blue;
  color: c.$mint-cream;
  cursor: pointer;
}
.options button.active {
  background: c.$cadmium-orange;
  transition: .3s all ease;
  color: c.$mint-cream;
}
.submit-btn:disabled {
  background: c.$midnight-blue;
  opacity: .7;
}

.submit-btn {
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: .5rem;
  color: c.$mint-cream;
  background: c.$cadmium-orange;
  padding: .5rem;
  transition: .3s all ease;
  cursor: pointer;
}