@use '_vars' as c;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  background: c.$mint-cream;
  font-family: c.$font-Heebo;
}
#root {
  min-height: 100vh;
}
.Layout {
}

.ghost {
  height: 6rem;
}

// Default styles for all components
.btn {
  text-decoration: none;
  background: c.$cadmium-orange;
  text-align: center;
  font-weight: bold;
  color: c.$mint-cream;
  display: block;
  padding: 1rem;
  max-width: 16rem;
  border-radius: .5rem;
  margin-bottom: 3rem;
}
.btn-primary {
  background: c.$cadmium-orange;
  border: .2rem solid c.$cadmium-orange
}
.btn-secondary {
  background: transparent;
  color: c.$french-blue;
  border: .2rem solid c.$french-blue;
}
