@use '_vars' as c;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  background: c.$mint-cream;
  font-family: c.$font-Heebo;
}
#root {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
}
.Layout {
  position: relative;
  
  .ghost {
    height: 6rem;
  }
}

// Default styles for all components
.input-group {
  display: flex;
  max-width: min(100%, 35rem);
  height: 4.5rem;
  align-items: center;
  border: .1rem solid c.$french-blue;
  margin-bottom: 1rem;
  border-radius: .5rem;
  transition: .3s all ease;
  position: relative;

  &:focus-within {
    border-color: c.$midnight-blue;

    i {
      transition: .3s all ease;
      color: c.$french-blue;
    }
  }

  i {
    position: absolute;
    color: c.$gray;
    font-size: 2rem;
    left: 1rem;
    transition: .3s all ease;
  }
  input {
    width: 100%;
    height: 100%;
    padding-left: 3.5rem;
    outline: none;
    color: c.$gray;
    font-size: 1.6rem;
  }
}

.btn {
  text-decoration: none;
  background: c.$cadmium-orange;
  font-weight: bold;
  height: 4.5rem;
  color: c.$mint-cream;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: .3s all ease;
  border-radius: .5rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
.btn-primary {
  background: c.$cadmium-orange;
  border: .2rem solid c.$cadmium-orange;
  
  &:hover {
    background: c.$cadmium-orange-hover;
  }
}
.btn-secondary {
  background: transparent;
  color: c.$french-blue;
  border: .2rem solid c.$french-blue;

  &:hover {
    background: c.$french-blue;
    color: c.$mint-cream;
  }
}
