* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
.options {
  display: flex;
  justify-content: center;
}
.options button:first-child {
  margin-right: 1rem;
}
.options button {
  border: none;
  font-size: 1.8rem;
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
}